*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Open Sans;
}
h1{
    font-size:40px;
    font-weight: normal;
    margin-bottom:5%
}
p{
    line-height: 32px;
}
h2{
    font-size:40px;
    font-weight: normal;
    margin:5% 0;
    padding-bottom:16px;
    position:relative;
    display: inline-block;
    cursor:pointer;
}
h2::before{
    content:"";
    position:absolute;
    width:80%;
    height:2px;
    left:10%;
    background: black;
    bottom:0;
}
h2::after{
    content:"";
    position:absolute;
    width:15px;
    height:15px;
    background:white;
    border:1px solid black;
    border-radius:50%;
    bottom:-10%;
    left:45%;
    transition: var(--transition);
}
h2:hover::after{
    left:70%;
}
h3{
    margin-bottom: 5%;
}
h4{
    font-size:24px;
    font-weight: normal;
    text-transform: uppercase;
}
p{
    line-height: 32px;
}
:root{
    --primary: #00C7FC;
    --secondary:#1F2021;
    --overlay:rgba(0, 199, 252, 0.5);
    --transition: all .7s ease;

}
section{
    margin:5% 0;
}
/* Nav Bar */
nav{
    margin:0 5%;
    height:120px;
    display:flex;
    min-width: 700px;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid white;
}
.links{
    display: flex;
    align-items:center;
    gap:24px;
}
.icon{
    border-left:solid 1px white;
    color: white;
    padding:8px;
    margin-left:24px;
    align-items:center;
    cursor: pointer;
}
.links ul,a{
    display:flex;
    column-gap: 24px;
    list-style-type: none;
    text-decoration:none;
    color:white;
    font-weight: 400;
}
.links a:hover{
    color:var(--primary)
}
.icon i{
    transition: all .5s ease;
}
.icon:hover i{
    color: var(--primary);
    transform: rotate(90deg);
}

/* Hero section */
.hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url(images/landing.jpg);
    background-size: cover;
    background-position: 100% 0%;
    height:768px;
    position: relative;
    top:-200px;
    z-index: -1;
}
.home-content{
    background: rgba(0, 199, 252, 0.5);
    position: absolute;
    width:55%;
    min-width: 400px;
    top:25%;
    color:white;
    height:fit-content;
    padding:3%;
    display: flex;
    justify-content: right;
}
.home-descripition{
    width:75%;
}
.arrow-nav{
    display:flex;
    justify-content:space-between;
    width:60%;
    min-width: 400px;
    position: absolute;
    top:50%;
    left:5%;
    font-size:24px;
    color:white;
}
.dots-nav{
    display:flex;
    justify-content:center;
    gap:8px;
    width:100%;
    position: absolute;
    bottom:24px;
    color:white;
}
span{
    overflow:hidden;
    white-space:nowrap;
    display: block;
    border-right:1px solid white;
    animation: 
    typing 7s steps(12, end) infinite ,
    blink-caret .75s step-end infinite;
    /* animation: blink-caret;
    animation-duration:.7s;
    animation-timing-function:step-end;
    animation-iteration-count: infinite;
    animation-name:typing;
    animation-duration:8s;
    animation-timing-function: steps(12, end);
    animation-direction:alternate;
    animation-iteration-count: infinite; */
}
@keyframes typing{
    0%{width:0px}
    2%{width:0px}
    12%{width:230px}
    88%{width:230px}
    98%{width:0px}
    100%{width:0px}
}
@keyframes blink-caret{
    from, to { border-color: transparent }
    50% { border-color: white; }
}

/* Services Section */
.services{
    position: relative;
    top:-150px;
}
.title{
    text-align: center;
    margin:5% auto;
}
.title h2{
    text-transform: uppercase;
    
}
.title p{
    text-align: center;
    width: 35%;  
    margin: auto;  
}
.services-boxes h3{
    color: var(--primary);
}
.services-boxes{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:80px 40px;
    margin:5%;
}
.box{
    display: flex;
    justify-content: space-between;
    width:40%;
    min-width: 350px;
    gap: 32px;
    padding:24px;
    border:2px solid white;
    border-radius:16px;
    cursor:pointer;
}.box:hover{
    border:1px solid var(--secondary);
    box-shadow:2px 2px 7px rgba(0, 0, 0, 0.3);
}
.box:hover i{
    color:var(--primary);
}
.box i{
    font-size: 40px;
}
/* Features */
.features-section{
    height:760px;
    background:radial-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, .7)), url(images/design-features.jpg);
    background-size: cover;
    position: relative;
}
.features-content{
    background: rgba(0, 199, 252, 0.5);
    position: absolute;
    width:55%;
    top:25%;
    right:0;
    color:white;
    height:fit-content;
    padding:3%;
    display: flex;
    flex-direction:column;
    row-gap:16px;
}
.feature{
    display:flex;
    align-items:center;
    gap:16px;
}
.features-section img{
    position:absolute;
    bottom:-50px;
    left:13%;
    filter: drop-shadow(4px 2px 10px rgba(0,0,0,.5));
}
/* Portofolio */
.tags{
    list-style-type: none;
    display:flex;
    justify-content: center;
    gap:16px;
}
.tags a{
    text-decoration:none;
    color:black;
    padding:8px 16px;
}
.tags a:hover{
    background-color:var(--primary);
    color:white;
}
/* Shuffle Cards */
.cards-container{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.card{
    width:25%;
    min-width: 350px;
    height:300px;
    overflow: hidden;
    position: relative;
    display: flex;
    cursor:pointer;
}
.photography{
    color:var(--primary)
}
.card-about{
    padding:8px 16px;
    position: absolute;
    width:100%;
    bottom:-100px;
    background-color:white;
    box-shadow:-2px 0px 6px;
    transition: var(--transition)
}
.card img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: var(--transition)
    }
    .card:hover img{
        transform: scale(1.2) rotate(10deg);
    }
    .card:hover .card-about{
        bottom: 0;
    }
.button{
    padding:16px 24px;
    width: fit-content;
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    margin: auto;
    cursor:pointer;
    transition: var(--transition)
}
.button:hover{
    background-color: #1F2021;
    color:var(--primary);
}
.video-container{
    height:768px;
    overflow:hidden;
    position: relative;
}
video{
    filter: brightness(70%);
    height:100%;
    width:100%;
    object-fit:cover ;
}
.video-title{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap:24px;
    width: 100%;
    bottom: 32px;
    color: white;
    background-color: var(--overlay);
}
.button2{
    padding:16px 24px;
    width: fit-content;
    background-color:var(--secondary);
    color: white;
    text-transform: uppercase;
    margin: auto;
    cursor:pointer;
    transition: all .7s ease;
}
.button2:hover{
    background-color:white;
    color:var(--secondary);
}
/* About US */
.about-us{
    display:flex;
    flex-wrap:wrap;
    gap:40px;
    justify-content: space-around;
}
.column{
    display:flex;
    flex-direction:column;
    width:40%;
    min-width: 450px;
    text-align: center;
    row-gap:24px;
}
.column p{
    text-align: left;
}
.id{
    display: flex;
    flex-direction:column;
    padding:3%;
    border-bottom:1px solid black;
    gap:16px;
}
.profile-pic{
    width:100px;
    height:100px;
    margin: auto;
    border-radius:50%;
    overflow: hidden;
}
.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tag-name{
    align-self: end;
}
.id-descr{
    font-weight: bold;
}
.skill{
    display: flex;
    flex-direction:column;
    align-items: start;
    gap:8px;
}
.progress-bar{
    width: 100%;
    height:30px;
    background-color:lightgray;
    position:relative;
}
.progress-container{
    display: flex;
    flex-direction: column;
    gap:62px;
}
.range{
    position:absolute;
    width:100%;
    height:100%;
    background-color: var(--primary);
    cursor: pointer;
}

.range::after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border:10px solid black;
    border-color:black transparent transparent transparent;
    left:calc(100% - 10px);
    top:-10px;
}
.precentage{
    width:40px;
    height:25px;
    background-color: black;
    color: white;
    float: right;
    top:100px;
    margin-top: -35px;
    margin-right:-20px;
}
/* HTML Range */
.html .range{
    width:90%;
    animation:html 1s linear forwards;
}
/* Java Script Range */
.java .range{
    width:80%;
}
/* PHP */
.php .range{
    width:75%;
}
/* adobe */
.adobe .range{
    width:85%;
}
/* Subscribe Section */
.subscribe{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(images/subscribe.jpg);
    background-size: cover;
    height:300px;
    display:flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap:8px 32px;
    align-items: center;
    justify-content: center;
}
.place-holder{
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
}
.input-email{
    display:flex;
    width:400px;
    justify-content:space-between;
    align-items:center;
    color:gray;
    border:1px solid gray;
    padding-left:16px;
    min-width: 300px;
}
.button3{
    padding:16px 24px;
    width: fit-content;
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    cursor:pointer;
    transition: var(--transition)
}
.button3:hover{
    background-color: #ffffff;
    color:var(--secondary);
}
.input-email .button{
    margin: 0;
}
.descr{
    width:40%;
    min-width: 350px;
    color:white;
    text-align: center;
}
/* Contact */
.contact-container{
    display: flex;
    justify-content: space-around;
}
.inputs{
    display: flex;
    flex-direction:column;
    width: 60%;
    gap:32px;
}
.button4{
    padding:16px 24px;
    width: fit-content;
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    cursor:pointer;
    border: 2px solid var(--primary);
    transition: var(--transition)
}
.button4:hover{
    background-color: #ffffff;
    border: 2px solid var(--secondary);
    color:var(--secondary);
}

.inputs .button4{
    margin: 0;
    align-self: flex-end;
}
.inputs input,textarea{
    padding:2%;
    font-size: large;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 20%;
}
/* Footer */
footer{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(images/subscribe.jpg);
    background-size: cover;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.social h4{
    padding-bottom: 16px;
    border-bottom:1px solid white;
}
.social-icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
strong{
    color: var(--primary);
}
footer h3{
    margin:0;
    font-weight: normal;
}
.social-icons>i{
    cursor: pointer;
}
.social-icons>i:hover{
    color: var(--primary);
}

.title-s{
    margin-top: 0;
}

@media screen and (max-width:992px){
    .features-section img{
        width:300px;
    }
}